*.env
*.vscode
*.json
*.log
*.DS_Store
*.yml
*.debug
*.dockerignore
Dockerfile

# possible copyright ignores (example files)
data/images/ex_logo.jpg

# dunce bot
*.db
*.db-journal
*__pycache__
lib/client/token.0
*notrack/
SAVE/